{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<div class="container">
  <section class="intro">
      <h2>Discover Your Korean MBTI</h2>
      <div class="content">
          <div class="text">
              <p></p>
              
              <p>Ready to find your MBTI Personality? Click the button below to begin your journey!</p>
              <a href="{{url_for('pages.explore')}}" class="cta">

              <button onclick="window.location.href='quiz.html'">Explore</button>
            </a>

          </div>
          <div class="image">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStRBsam47OXE7Unx8ztfAt-JlsO6HCzXqXBA&s" alt="MBTI">
          </div>
      </div>
  </section>
</div>

{% endblock content %}